.advantage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
}

.advantage__title {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-left: 20px;

  color: @base-color;
}

.advantage__list {
  list-style: none;
  width: 320px;
  margin: 0 20px 20px 0;
}

.advantage__item {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0 22px 24px 80px;
}

.advantage__item:last-child {
  margin-bottom: 42px;
}
