.bonus {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 320px;
  height: 290px; /*не уверена что верно*/
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    background-image: url(../img/gift-photo-tablet@1x.jpg);
    height: 200px;
    margin-bottom: 75px;
  }
}

.bonus__text {
  position: relative;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-top: 185px;
  width: 165px; /*не уверена что верно*/
  margin: auto;
  text-align: center;

  color: #ffffff;

  &::before {
    content: "";
    background-image: url("../img/icon_gift.svg");
    background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 60px;
  left: 40px;

  }

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 70px 0 70px 425px;
    text-align: left;

    &::before {
      top: -10px;
  left: -315px;
    }
  }
}
