.bonus {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
}

.bonus__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}
