.example {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 320px;
  margin: 0;

  background: #EAEAEA;
}

.example__title {
  font-family: "oswaldregular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-top: 27px;
  margin-left: 20px;
  margin-right: 105px;
  margin-bottom: 33px;
  color: @base-color;
}

.example__description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  width: 279px;
  height: 108px;
  margin: 20px;
}
