sup {
  position: static;
  margin-left: -5px;
  vertical-align: baseline;
  font-size: inherit;
}

.form {
  display: block;
  box-sizing: border-box;
}

.form__data {
  border: none;
  padding: 0;
  margin: 0;
}

.form__button {
  width: 280px;
  height: 40px;
  margin: 15px auto 20px auto;
  font-size: 16px;
  ine-height: 20px;
}

input:required {
  border: 1px solid #ff8282;
  /* Красная рамка для обязательных полей - не применяется???*/
}

input[type="email"],
input[type="tel"],
input[type="text"] {
  position: relative;
  flex: 1;
  padding: 15px 10px;
  margin: 0 0 0 10px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  background-color: transparent;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"]::placeholder,
  {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #444444;

  text-transform: uppercase;
}

input:focus::placeholder {
  opacity: 0;
  transition: top 1s ease-out 0.5s;
}

input[type="text"],
input[type="email"],
input[type="tel"]::-webkit-input-placeholder {
  color: #444444;
}

input[type="text"],
input[type="email"],
input[type="tel"]:-ms-input-placeholder {
  color: #444444;
}

input[type="text"],
input[type="email"],
input[type="tel"]::-ms-input-placeholder {
  color: #444444;
}

input[type="text"],
input[type="email"],
input[type="tel"]:-moz-placeholder {
  color: #444444;
}

input[type="text"],
input[type="email"],
input[type="tel"]::-moz-placeholder {
  color: #444444;
}

.form__value-iconmail::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-mail.svg);
}

.form__contact-title::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 200px;
  width: 100px;
  height: 2px;
  background-color: #68b738;
}

.form__title-coment::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 142px;
  width: 160px;
  height: 2px;
  background-color: #68b738;
}

.form__add-title::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 164px;
  width: 136px;
  height: 2px;
  background-color: #68b738;
}

.form__contact-title {
  width: 185px;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 25px 0 30px 0;


  position: relative;

  color: @base-color;
}

.form__title-coment {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 30px 0 35px 0;
  position: relative;

  color: @base-color;
}

.form__text {
  box-sizing: border-box;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  min-width: 280px;
  min-height: 150px;
  padding: 15px 13px 15px;
  resize: none;
  text-transform: uppercase;

  color: #444444;
}

textarea[type="text"] {
  border: 1px solid #e7e7e7;
}

.form__value {
  position: relative;
  padding-top: 15px;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.form__value--label {
  margin: 0 0 20px 46px;

}

.form__value--program {
  position: relative;
  top: -10px;
  margin: 0 0 0 15px;

}

.form__add-checkbox {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #cdcdcd;
  background-color: transparent;
  margin-top: -42px;
}

.form__add-product:checked+.form__add-checkbox {
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__add-product:active+.form__add-checkbox {
  opacity: 0.3;
}

.form__add-title {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 30px auto 35px auto;
  position: relative;

  color: #000000;
}

.form__add-legend {
  display: block;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  width: 165px;
  margin: 0 auto 30px auto;
}

.form__data-value {
  display: flex;
  box-sizing: border-box;
  margin: 0 0 15px 0;
}

.form__contact-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
}

.form__data-choice {
  position: relative;
  margin-top: 50px;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;
    left: -20px;
    top: -25px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;
    left: -20px;
    bottom: -20px;
  }
}

.form__data-radio:active {
  background-color: #68b738;
}


.form__add-label:hover .form__value,
.form__add-label:focus .form__value {
  color: #000000;
}

.form__add-label:active .form__value {
  opacity: 0.3;
}

.form__add-product {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  appearance: none;
}

.form__data-radio {
  -webkit-appearance: none;
  -
  /*остался пробел между <input> и checkbox*/
  -moz-appearance: none;
  position: absolute;
  -
  /*убирает пробел*/
  appearance: none;
}

.form__data-radiostyle {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 13px;
    height: 13px;
    background-color: #68b738;
    transition: 0.2s;
    border-radius: 50%;
    opacity: 0;
  }
}

.form__data-radio:checked+.form__data-radiostyle::before {
  opacity: 1;
}

.form__value-iconfone {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

.form__value-icon {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-phone.svg");;
    background-repeat: no-repeat;
  }

  &:nth-child(2)::before {
    background-image: url("../img/icon-mail.svg");
  }

  &:nth-child(2):hover:before {
    width: 20px;
    height: 20px;
    background-image: url("../img/icon_email_gren.svg");
  }

  &:hover::before  {
   background-image: url("../img/icon_phone_green.svg");
  }
}
