.form__data {
  border: none;
}

input[type="text"] {
  border: 1px solid #e7e7e7;
  background-color: transparent;
}

input[type="tel"] {
  border: 1px solid #cdcdcd;
  background-color: transparent;
}

input[type="email"] {
  border: 1px solid #cdcdcd;
  background-color: transparent;
}

/* не работает правило
input[type="radio"] {
  border: 1px solid #cdcdcd;
}*/

input[type="text"]::placeholder {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: #444444;
}

input:focus {
  border-color: @base-color;
}

.form__contact-title {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;

  color: @base-color;
}

.form__title-coment {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;

  color: @base-color;
}

.form__text {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;


  color: #444444;
}

textarea[type="text"] {
  border: 1px solid #e7e7e7;
}

.form__value {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: #222222;
}

.form__add-title {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;

  color: #000000;
}

.form__add-legend {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}
