.image-comparison {
  display: flex;
  flex-direction: column;
  flex-wrap: ;
}

/* уехали кнопки - непонимаю почему*/
.image-comparison__slider {
  font-family: "oswaldregular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  margin-right: 45px;
  margin-left: 47px;
  margin-top: 23px;
  margin-bottom: 25px;

  text-transform: uppercase;
  border: none;
  color: @base-color;
}

.image-comparison__image {
  margin-bottom: 23px;
}
