.image-comparison {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #eaeaea;

  /*@media (min-width: @desktop-width) {
    position: absolute;
    z-index: 9;
    top: 1753px;
    left: 700px;
    width: 690px;
  }*/
}

/* уехали кнопки - непонимаю почему*/
.image-comparison__slider {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  margin: 0;

  text-transform: uppercase;
  border: none;
  color: @base-color;

  @media (min-width: @desktop-width) {
    font-size: 20px;
  }
}

.image-comparison__image {

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 200px;
    left: 750px;
  }
}

.image-comparison__wrap {
  display: flex;
  justify-content: space-around;
  width: 235px;
  padding: 35px 0 30px 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 590px;
    padding: 35px 0 80px 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 30px;
    left: 700px;
    z-index: 10;
  }
}

.image-comparison__indicator {
  width: 85px;
  background-color: #ffffff;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #CDCDCD;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);

  @media (min-width: @tablet-width) {
    position: relative;
    top: 7px;
    width: 430px;
    height: 6px;
    border-radius: 6px;
    border: none;

    background-color: #dcdcdc;

  }
}

.image-comparison__indicator-control {
  width: 50%;
  height: 8px;
  border-radius: 8px;
  margin: 3px;
  background-color: #68b738;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.image-comparison__range-togle {

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 72px;
    width: 6px;
    height: 6px;

    background-color: #68b738;
    border: 13px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  }
}

.image-comparison__before-after {
  display: flex;
  flex-direction: row;

  @media (min-width: @desktop-width) {
    position: absolute;
    z-index: 9;
    top: -570px;
    left: 700px;
    width: 690px;
  }
}

.image-comparison__before {
  display: block;
  width: 50%;
  height: 230px;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left;

  @media (min-width: @tablet-width) {
    @before-shift: -170px;

    position: relative;
    top: @before-shift;
    height: 530px;
    background-image: url("../img/before-tablet@1x.png");
    margin-left: 20px;
    margin-bottom: @before-shift;
  }

  @media (min-width: @desktop-width) {
    @before-shift: 0;

    height: 660px;
    background-image: url("../img/before-desktop@1x.png");
    margin: 0;
  }
}

.image-comparison__after {
  display: block;
  width: 50%;
  height: 240px;
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: right;

  @media (min-width: @tablet-width) {
    @after-shift: -170px;

    position: relative;
    top: @after-shift;
    height: 520px;
    background-image: url("../img/after-tablet@1x.png");
    margin-right: 60px;
    margin-bottom: @after-shift;
  }

  @media (min-width: @desktop-width) {
    @after-shift: 0;

    height: 660px;
    background-image: url("../img/after-desktop@1x.png");
    margin: 0;
  }
}
