@font-face {
  font-family: "oswaldmedium";
  font-weight: 500;
  font-style: normal;
  src: local("oswaldmedium"),
  url("fonts/oswaldmedium.woff") format("woff"),
  url("fonts/oswaldmedium.woff2") format("woff2");
}

@font-face {
  font-family: "oswaldregular";
  font-weight: normal;
  font-style: normal;
  src: local("oswaldregular"),
  url("../fonts/oswaldregular.woff") format("woff"),
  url("../fonts/oswaldregular.woff2") format("woff2");
}

@import "style.less";
@import "page-header.less";
@import "selection.less";
@import "result.less";
@import "sate-list.less";
@import "program.less";
@import "main-nav.less";
@import "intro.less";
@import "advantage.less";
@import "example.less";
@import "image-comparison.less";
@import "page-footer.less";
@import "catalog-product.less";
@import "product-more.less";
@import "product-aside.less";
@import "bonus.less";
@import "form.less";
@import "contacts.less";
@import "social.less";
