.button {
  font: inherit;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #68B738;
  border: none;
 }

 .button:hover,
 .button:focus,
 .button:active {
   background-color: #00CC33;
 }

.intro {
}

.intro__image {
 background-color: #68B738;
}

.intro__img {
}

.intro__title {
 margin: 0;
 /* не работает правило?
 margin-bottom: 25px;*/

 font-family: Oswald, sans-serif;
 font-size: 36px;
 line-height: 36px;

 text-align: center;
 color: #FFFFFF;
}

.intro__slogan {
  font-family: Oswald, sans-serif;
  font-size: 14px;
  line-height: 14px;

  text-transform: uppercase;
  text-align: center;

  color: #FFFFFF;
}

.intro__button {
  align-items: center;
  padding: 8px 44px;

  }
