.page-footer {
  background-color: #F2F2F2;
}

.social__link:hover,
.social__link:focus {
  color: #696969;
}

.contacts__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 21px;

  text-transform: uppercase;
  text-align: left;

  color: #111111;
}

.contacts__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  text-align: right;
}

.social__link {
  text-align: center;
}

.social__item {
  list-style: none;

}

.page-footer__map {
  width: 320px; /*на макете отличается карта*/
  height: 362px;
}
