.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer {
  background-color: #ffffff;
  /*как сделать чтобы на стр каталога был цвет #F2F2F2?*/
}

.page-footer__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 115px;
  align-items: center;

  @media (min-width: @tablet-width) {
    min-height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    /*не работает почему?*/
  }
}

.page-footer__map {
  padding: 0;
  /* что то с контейнером*/
}

.page-footer__logo {
  text-align: center;
  margin: 40px 0 52px 0;
  position: relative;
}

.page-footer__logo-academy {
  max-width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 43px 0 22px 0;

  @media (min-width: @tablet-width) {
    max-width: 165px;
  }

  @media (min-width: @desktop-width) {
    max-width: 165px;
  }
}

.page-footer__logo::after {
  content: "";
  border-bottom: 1px solid #d9d9d9;
  position: absolute;
  left: 0;
  top: 60px;
  margin: 0 0 40px 0;
  width: 100%;
  bottom: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__logo::before {
  content: "";
  border-bottom: 1px solid #d9d9d9;
  position: absolute;
  left: 0;
  top: 130px;
  margin: 0 0 40px 0;
  width: 100%;
  bottom: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
