.product-aside__title {
  position: relative;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  /*визуально bolder */
  font-size: 24px;
  line-height: 24px;

  margin: 0;
  padding: 22px 0 35px 20px;
  margin-top: 22px;

  color: @base-color;
  border-top: 1px solid #e6e6e6;

  &::after {
    content: "";
    position: absolute;
    width: 55px;
    right: 0;
    top: 35px;
    height: 2px;
    background: #68b738;
  }

  @media (min-width: @tablet-width) {
    border-top: none;
    padding: 0;
    margin: 70px auto 80px 70px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      width: 330px;
      top: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      left: -70px;
      top: 25px;
      height: 2px;
      background: #68b738;
    }

    @media (min-width: @desktop-width) {
      margin-top: 75px;

      &::after {
        width: 960px;
        top: 25px;
        right: 0;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .product-aside {
    margin-bottom: 70px;
  }
}
