.program {
  display: flex;
  flex-direction: column;
  position: relative;
}

.program__title {
  color: @base-color;

  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.54;
  padding-left: 70px;
  margin: 0;

  text-transform: uppercase;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.program__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  margin: 30px 0 38px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    max-width: 375px;
    margin: 25px 0 50px 0;
    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: @desktop-width) {
    min-width: 470px;
    margin: 75px 0 25px 0;
  }
}

.program__catalog {
  display: block;
  color: @base-color;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;

  text-transform: uppercase;

  &::after {
    content: "";
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 12px;
    margin-left: 15px;
    display: inline-block;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.program__wraper {
  margin-top: 20px;
  background-color: #f2f2f2;
  padding: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
    max-width: 100%;
    padding: 77px 0 55px 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
    min-width: 570px;
  }
}

@media (min-width: @desktop-width) {
  .program__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

.program--slim-icon::after {
  content: "";
  background-image: url("../img/icon-cat-slim.svg");
  /*как сделать что бы картинка была больше чем бэкграунд*/
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 40px;
  height: 50px;

  position: absolute;
  top: 30px;
  left: 40px;

  @media (min-width: @tablet-width) {
    width: 140px;
    height: 190px;
    top: 100px;
    left: 480px;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    height: 100px;
    position: absolute;
    top: 60px;
    left: 90px;
  }
}

.program--slim-icon::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
    top: 115px;
    left: 455px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    top: 70px;
    left: 80px;
  }
}

.program--pro-icon::after {
  content: "";
  background-image: url("../img/icon-cat-pro.svg");
  /*как сделать что бы картинка была больше чем бэкграунд*/
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 30px;
  position: absolute;
  top: 50px;
  left: 10px;

  @media (min-width: @tablet-width) {
    width: 270px;
    height: 110px;
    top: 150px;
    left: 420px;
  }

  @media (min-width: @desktop-width) {
    width: 135px;
    height: 60px;
    position: absolute;
    top: 90px;
    left: 40px;
  }
}

.program--pro-icon::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 20px;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
    top: 100px;
    left: 455px;
  }

  @media (min-width: @desktop-width) {
    @media (min-width: @desktop-width) {
      width: 100px;
      height: 100px;
      top: 70px;
      left: 60px;
    }
  }
}

.program__description::after {
  content: "";
  border-bottom: 1px solid #d9d9d9;
  position: absolute;
  left: -0;
  width: 100%;
  bottom: -20px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
