.result__wraper {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 365px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.result__index {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-top: 25px;
  border: 1px solid #cdcdcd;
  width: 124px;
  height: 56px;

  @media (min-width: @tablet-width) {
    width: 160px;
    height: 70px;
    margin: 0;
  }
}

.result__index-index {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-top: 15px;

  color: @base-color;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.result__index-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: block;
  font-size: 12px;
  line-height: 12px;
  width: 80px;
  background: #eaeaea;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: 140px;
    margin-top: 10px;
    /*не понимаю почему не работают маржины для отступа слева и справа?*/
    text-align: center;

    @media (min-width: @desktop-width) {
      background-color: #f2f2f2;
    }
  }
}

.result__money {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 35px 0 42px 0;

  text-align: center;
  text-transform: uppercase;

  color: @base-color;

  @media (min-width: @tablet-width) {
    display: block;
    width: 175px;
    /*не уверена что верно*/
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 0;
    text-align: left;
  }
}

.rezult__paragraph-wraph {
  display: flex;
  justify-content: space-between;
  max-width: 325px;
  text-align: left;
  margin: 25px 0 40px 0;


  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.rezult__paragraph-price {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    /*текст не как по макету...по макету жирный*/
    line-height: 20px;
    text-align: right;
  }
}

.result__wrap {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin-bottom: 95px;
  }
}
