.result {}

/* не уверена что верно, еще почитаю..*/
.result__wraper {
  display: flex;
  justify-content: center;
}

.result__index-index {
  font-family: "oswaldregular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  color: @base-color;

}

.result__index-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;

}

.result__money {
  font-family: "oswaldregular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;

  color: @base-color;
}
