.site-list__item {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  /*font-weight: 500; почему не сработало?*/
  font-weight: bold;
  position: relative;
  text-align: center;

  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-left: 34px;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    text-align: right;

    &:nth-child(1) {
      margin-left: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
        height: 2px;
        background: #68b738;
      }
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    background: #ffffff;
  }
}

.site-list__item a[href] {
  @media (min-width: @tablet-width) {
    &:hover :focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.site-list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* width: 58%; /* 440px/768px = 58%    max-width: 824px; 478px/.58=824px    margin: 0 auto;    как сделать резиновое меню навигации? - не поняла*/
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.site-list a {
  position: relative;
  display: block;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 24px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #e6e6e6;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .site-list a {
    padding: 0;
    padding-bottom: 23px;
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    .site-list a {
      color: #ffffff;
    }
  }
}
