.site-list {
  text-align: center;
}

.site-list__item {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 46px;

  text-transform: uppercase;
}

/*почему не работает?*/
.site-list__item:last-child {
  margin-bottom: 24px;
}

.site-list__item:hover,
.site-list__item:focus,
.site-list__item:active {
  opacity: 0.5;
}

.site-list__link {
  color: #000000;
}

.site-list__link:hover {
  opacity: 0.6;
}

.site-list__link:active {
  opacity: 0.3;
}

.site-list__link--active {
  border-bottom: 2px solid #68b738;
  align-self: center;
  padding-bottom: 8px;
}
