/*.social__link--vkontakte::after {
  content: "";
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 16px;
  position: absolute;
    &:hover {
    color: green;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    background-image: url(../img/icon_vk_tablet.svg);
    width: 30px;
  height: 23px;
  }
}

.social__link--instagram::after {
  content: "";
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 16px;
  position: absolute;

  &:hover {
    color: green;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    background-image: url(../img/icon_inst_tablet.svg);
    width: 23px;
  height: 23px;
  }
}

.social__link--facebook::after {
  content: "";
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 16px;
  position: absolute;

  &:hover {
    color: green;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    background-image: url(../img/icon_fac_tablet.svg);
    width: 28px;
  height: 33px;
  top: 10px;
  }
}
*/
.social__item-icon {
  width: 23px;
  height: 20px;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 28px;
  }
}

.social__link {
  position: relative;
  margin-bottom: 10px;
}

.social__item {
  list-style: none;
}

.social__list {
  max-width: 130px;
  position: relative;
  padding: 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 130px;
  }
}

.social__wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 60px 0;
  }
}

.social__link--facebook {
  fill: transparent;
  stroke: #666666;
  transition: 0.3s;

  &:hover {
    stroke: #68b738;
  }

  &:active {
    stroke: #68b738;
    opacity: 0.3;
  }
}

.social__link--instagram,
.social__link--vkontakte {
  transition: 0.3s;
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}
