@import "imports.less";
/* нужен этот стиль?
html,
body {
  height: 100%;
}
*/
/*фиксация при скроле, позже добавлю тк поднимается img кот
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: "oswaldregular", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-transform: lowercase;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 320px;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;

  text-transform: uppercase;

  background-color: #68B738;
  border: none;
  transition: 1s;
 }

 .button:hover,
 .button:focus,
 .button:active {
   background-color: #5EAA2F;
 }


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@base-color: #000000;
